:root {
  --black: #000000;
  --dark-grey: #606060;
  --gray: #CCCCCC;
  --orange: #FF9900;
  --yellow: #ECB117;
  --white: #FFFFFF;
  --wine: #9B0021;

  --roboto: "Roboto", sans-serif;
}

body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  box-sizing: border-box;
  color: var(--black);
  font-family: var(--roboto);
  font-size: 1rem;
  line-height: normal;

  padding: 1.5rem 1.25rem;
}

#app {
  display: grid;
  justify-content: center;
  width: 100%;
}

input {
  font-family: var(--roboto);
}